[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[build]
# Use Docker for building on Windows (much easier than native setup)
docker = true

[programs.localnet]
zwap = "Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000

